page-login {
  h6 {
    color: white;
    padding-top: 6%;

  }
  .space {
    margin-top: 100px;
  }
  .flex-container {
    display: -webkit-flex;
    display: flex;
    // width: inherit;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .flex-item {
    max-width: 300px;
    margin:auto;
  }
  .background {
    // background-color: white;
    position: relative;
    background: url('../assets/images/welcome.jpg') no-repeat transparent;
    z-index: 1;
    // height: 45%;
    background-size: cover;
  }

  .form {
    margin-top: 100%;
    z-index: 2;
    border-radius: 10px;
  }
  .white-input {
    background-color: white;
    color: black;
  }
}
