<ion-header>

  <ion-navbar>
    <ion-title>Welcome</ion-title>
    <button icon-only ion-button large menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-segment [(ngModel)]="segment" (ionChange)="onSegmentChange($event)">
      <ion-segment-button value="trips">
        Trips
      </ion-segment-button>
      <ion-segment-button value="messages">
        Messages
      </ion-segment-button>
    </ion-segment> -->
  </ion-navbar>

</ion-header>


<ion-content  padding>
  <ion-segment [(ngModel)]="segment" (ionChange)="onSegmentChange($event)">
    <ion-segment-button value="trips">
      Trips
    </ion-segment-button>
    <ion-segment-button value="messages">
      Messages
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="segment">
    <ion-grid>
      <!-- <ion-list *ngSwitchCase="'trips'">
        <ion-item>
          <h3>
          <ion-row>
            <ion-col col-4>Pick-Up Date</ion-col>
            <ion-col col-4>Departure</ion-col>
            <ion-col col-4>Destination</ion-col>
          </ion-row>
          </h3>
        </ion-item>
        <a ion-item *ngFor="let trip of trips; let i = index" mode="ios"  (click)="onTripSelected(i)"><h3>
          <ion-col col-4>{{ trip.pickupDate }}</ion-col>
          <ion-col col-4>{{ trip.departure }}</ion-col>
          <ion-col col-4>{{ trip.destination }}</ion-col>
        </h3></a>
      </ion-list> -->
      <div *ngSwitchCase="'trips'">
        <ion-grid>
          <ion-row>
            <ion-col col-4>Pick-Up Date</ion-col>
            <ion-col col-4>Departure</ion-col>
            <ion-col col-4>Destination</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p *ngIf="actionMessage"> {{ actionMessage }}</p>
              <p *ngIf="!trips && !actionMessage">Loading Trips...</p>
            </ion-col>
          </ion-row>
          <div class="row-item" *ngFor="let trip of trips; let i = index" [ngClass]="{'border' : i % 2 == 0}"
            (click)="onTripSelected(i)">
          <ion-row >
            <ion-col col-4>{{ trip.pickupDate }}</ion-col>
            <ion-col col-4>- {{ trip.departure }}</ion-col>
            <ion-col col-4>- {{ trip.destination }}</ion-col>
          </ion-row>
          <hr>
        </div>
        </ion-grid>
      </div>
      <ion-list *ngSwitchCase="'messages'">
        <ion-item>Messages</ion-item>
      </ion-list>
    </ion-grid>
  </div>
</ion-content>
